@charset "UTF-8";
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.4204075011% {
    content: "C"; }
  /* string 1, char 2 */
  0.4214075011%, 0.8418150021% {
    content: "Ch"; }
  /* string 1, char 3 */
  0.8428150021%, 1.2632225032% {
    content: "Che"; }
  /* string 1, char 4 */
  1.2642225032%, 1.6846300042% {
    content: "Chem"; }
  /* string 1, char 5 */
  1.6856300042%, 2.1060375053% {
    content: "Chemi"; }
  /* string 1, char 6 */
  2.1070375053%, 2.5274450063% {
    content: "Chemin"; }
  /* string 1, char 7 */
  2.5284450063%, 2.9488525074% {
    content: "Cheminf"; }
  /* string 1, char 8 */
  2.9498525074%, 3.3702600084% {
    content: "Cheminfo"; }
  /* string 1, char 9 */
  3.3712600084%, 3.7916675095% {
    content: "Cheminfor"; }
  /* string 1, char 10 */
  3.7926675095%, 4.2130750105% {
    content: "Cheminform"; }
  /* string 1, char 11 */
  4.2140750105%, 4.6344825116% {
    content: "Cheminforma"; }
  /* string 1, char 12 */
  4.6354825116%, 5.0558900126% {
    content: "Cheminformat"; }
  /* string 1, char 13 */
  5.0568900126%, 5.4772975137% {
    content: "Cheminformati"; }
  /* string 1, char 14 */
  5.4782975137%, 5.8987050147% {
    content: "Cheminformatic"; }
  /* string 1, char 15 */
  5.8997050147%, 15.0432477876% {
    content: "Cheminformatics"; }
  /* string 1, char 16 */
  15.0442477876%, 15.3382330383% {
    content: "Cheminformatic"; }
  /* string 1, char 17 */
  15.3392330383%, 15.6332182891% {
    content: "Cheminformati"; }
  /* string 1, char 18 */
  15.6342182891%, 15.9282035398% {
    content: "Cheminformat"; }
  /* string 1, char 19 */
  15.9292035398%, 16.2231887906% {
    content: "Cheminforma"; }
  /* string 1, char 20 */
  16.2241887906%, 16.5181740413% {
    content: "Cheminform"; }
  /* string 1, char 21 */
  16.5191740413%, 16.813159292% {
    content: "Cheminfor"; }
  /* string 1, char 22 */
  16.814159292%, 17.1081445428% {
    content: "Cheminfo"; }
  /* string 1, char 23 */
  17.1091445428%, 17.4031297935% {
    content: "Cheminf"; }
  /* string 1, char 24 */
  17.4041297935%, 17.6981150442% {
    content: "Chemin"; }
  /* string 1, char 25 */
  17.6991150442%, 17.993100295% {
    content: "Chemi"; }
  /* string 1, char 26 */
  17.994100295%, 18.2880855457% {
    content: "Chem"; }
  /* string 1, char 27 */
  18.2890855457%, 18.5830707965% {
    content: "Che"; }
  /* string 1, char 28 */
  18.5840707965%, 18.8780560472% {
    content: "Ch"; }
  /* string 1, char 29 */
  18.8790560472%, 19.1730412979% {
    content: "C"; }
  /* string 1, char 30 */
  19.1740412979%, 23.3871163085% {
    content: "​"; }
  /* string 2, char 1 */
  23.3881163085%, 23.8085238095% {
    content: "M"; }
  /* string 2, char 2 */
  23.8095238095%, 24.2299313106% {
    content: "Mo"; }
  /* string 2, char 3 */
  24.2309313106%, 24.6513388116% {
    content: "Mol"; }
  /* string 2, char 4 */
  24.6523388116%, 25.0727463127% {
    content: "Mole"; }
  /* string 2, char 5 */
  25.0737463127%, 25.4941538137% {
    content: "Molec"; }
  /* string 2, char 6 */
  25.4951538137%, 25.9155613148% {
    content: "Molecu"; }
  /* string 2, char 7 */
  25.9165613148%, 26.3369688158% {
    content: "Molecul"; }
  /* string 2, char 8 */
  26.3379688158%, 26.7583763169% {
    content: "Molecula"; }
  /* string 2, char 9 */
  26.7593763169%, 27.179783818% {
    content: "Molecular"; }
  /* string 2, char 10 */
  27.180783818%, 27.601191319% {
    content: "Molecular "; }
  /* string 2, char 11 */
  27.602191319%, 28.0225988201% {
    content: "Molecular M"; }
  /* string 2, char 12 */
  28.0235988201%, 28.4440063211% {
    content: "Molecular Mo"; }
  /* string 2, char 13 */
  28.4450063211%, 28.8654138222% {
    content: "Molecular Mod"; }
  /* string 2, char 14 */
  28.8664138222%, 29.2868213232% {
    content: "Molecular Mode"; }
  /* string 2, char 15 */
  29.2878213232%, 29.7082288243% {
    content: "Molecular Model"; }
  /* string 2, char 16 */
  29.7092288243%, 30.1296363253% {
    content: "Molecular Modeli"; }
  /* string 2, char 17 */
  30.1306363253%, 30.5510438264% {
    content: "Molecular Modelin"; }
  /* string 2, char 18 */
  30.5520438264%, 39.6955865992% {
    content: "Molecular Modeling"; }
  /* string 2, char 19 */
  39.6965865992%, 39.99057185% {
    content: "Molecular Modelin"; }
  /* string 2, char 20 */
  39.99157185%, 40.2855571007% {
    content: "Molecular Modeli"; }
  /* string 2, char 21 */
  40.2865571007%, 40.5805423515% {
    content: "Molecular Model"; }
  /* string 2, char 22 */
  40.5815423515%, 40.8755276022% {
    content: "Molecular Mode"; }
  /* string 2, char 23 */
  40.8765276022%, 41.1705128529% {
    content: "Molecular Mod"; }
  /* string 2, char 24 */
  41.1715128529%, 41.4654981037% {
    content: "Molecular Mo"; }
  /* string 2, char 25 */
  41.4664981037%, 41.7604833544% {
    content: "Molecular M"; }
  /* string 2, char 26 */
  41.7614833544%, 42.0554686051% {
    content: "Molecular "; }
  /* string 2, char 27 */
  42.0564686051%, 42.3504538559% {
    content: "Molecular"; }
  /* string 2, char 28 */
  42.3514538559%, 42.6454391066% {
    content: "Molecula"; }
  /* string 2, char 29 */
  42.6464391066%, 42.9404243574% {
    content: "Molecul"; }
  /* string 2, char 30 */
  42.9414243574%, 43.2354096081% {
    content: "Molecu"; }
  /* string 2, char 31 */
  43.2364096081%, 43.5303948588% {
    content: "Molec"; }
  /* string 2, char 32 */
  43.5313948588%, 43.8253801096% {
    content: "Mole"; }
  /* string 2, char 33 */
  43.8263801096%, 44.1203653603% {
    content: "Mol"; }
  /* string 2, char 34 */
  44.1213653603%, 44.415350611% {
    content: "Mo"; }
  /* string 2, char 35 */
  44.416350611%, 44.7103358618% {
    content: "M"; }
  /* string 2, char 36 */
  44.7113358618%, 48.9244108723% {
    content: "​"; }
  /* string 3, char 1 */
  48.9254108723%, 49.3458183734% {
    content: "M"; }
  /* string 3, char 2 */
  49.3468183734%, 49.7672258744% {
    content: "Ma"; }
  /* string 3, char 3 */
  49.7682258744%, 50.1886333755% {
    content: "Mac"; }
  /* string 3, char 4 */
  50.1896333755%, 50.6100408765% {
    content: "Mach"; }
  /* string 3, char 5 */
  50.6110408765%, 51.0314483776% {
    content: "Machi"; }
  /* string 3, char 6 */
  51.0324483776%, 51.4528558786% {
    content: "Machin"; }
  /* string 3, char 7 */
  51.4538558786%, 51.8742633797% {
    content: "Machine"; }
  /* string 3, char 8 */
  51.8752633797%, 52.2956708807% {
    content: "Machine "; }
  /* string 3, char 9 */
  52.2966708807%, 52.7170783818% {
    content: "Machine L"; }
  /* string 3, char 10 */
  52.7180783818%, 53.1384858828% {
    content: "Machine Le"; }
  /* string 3, char 11 */
  53.1394858828%, 53.5598933839% {
    content: "Machine Lea"; }
  /* string 3, char 12 */
  53.5608933839%, 53.981300885% {
    content: "Machine Lear"; }
  /* string 3, char 13 */
  53.982300885%, 54.402708386% {
    content: "Machine Learn"; }
  /* string 3, char 14 */
  54.403708386%, 54.8241158871% {
    content: "Machine Learni"; }
  /* string 3, char 15 */
  54.8251158871%, 55.2455233881% {
    content: "Machine Learnin"; }
  /* string 3, char 16 */
  55.2465233881%, 64.390066161% {
    content: "Machine Learning"; }
  /* string 3, char 17 */
  64.391066161%, 64.6850514117% {
    content: "Machine Learnin"; }
  /* string 3, char 18 */
  64.6860514117%, 64.9800366625% {
    content: "Machine Learni"; }
  /* string 3, char 19 */
  64.9810366625%, 65.2750219132% {
    content: "Machine Learn"; }
  /* string 3, char 20 */
  65.2760219132%, 65.5700071639% {
    content: "Machine Lear"; }
  /* string 3, char 21 */
  65.5710071639%, 65.8649924147% {
    content: "Machine Lea"; }
  /* string 3, char 22 */
  65.8659924147%, 66.1599776654% {
    content: "Machine Le"; }
  /* string 3, char 23 */
  66.1609776654%, 66.4549629161% {
    content: "Machine L"; }
  /* string 3, char 24 */
  66.4559629161%, 66.7499481669% {
    content: "Machine "; }
  /* string 3, char 25 */
  66.7509481669%, 67.0449334176% {
    content: "Machine"; }
  /* string 3, char 26 */
  67.0459334176%, 67.3399186684% {
    content: "Machin"; }
  /* string 3, char 27 */
  67.3409186684%, 67.6349039191% {
    content: "Machi"; }
  /* string 3, char 28 */
  67.6359039191%, 67.9298891698% {
    content: "Mach"; }
  /* string 3, char 29 */
  67.9308891698%, 68.2248744206% {
    content: "Mac"; }
  /* string 3, char 30 */
  68.2258744206%, 68.5198596713% {
    content: "Ma"; }
  /* string 3, char 31 */
  68.5208596713%, 68.814844922% {
    content: "M"; }
  /* string 3, char 32 */
  68.815844922%, 73.0289199326% {
    content: "​"; }
  /* string 4, char 1 */
  73.0299199326%, 73.4503274336% {
    content: "S"; }
  /* string 4, char 2 */
  73.4513274336%, 73.8717349347% {
    content: "So"; }
  /* string 4, char 3 */
  73.8727349347%, 74.2931424357% {
    content: "Sof"; }
  /* string 4, char 4 */
  74.2941424357%, 74.7145499368% {
    content: "Soft"; }
  /* string 4, char 5 */
  74.7155499368%, 75.1359574378% {
    content: "Softw"; }
  /* string 4, char 6 */
  75.1369574378%, 75.5573649389% {
    content: "Softwa"; }
  /* string 4, char 7 */
  75.5583649389%, 75.9787724399% {
    content: "Softwar"; }
  /* string 4, char 8 */
  75.9797724399%, 76.400179941% {
    content: "Software"; }
  /* string 4, char 9 */
  76.401179941%, 76.8215874421% {
    content: "Software "; }
  /* string 4, char 10 */
  76.8225874421%, 77.2429949431% {
    content: "Software E"; }
  /* string 4, char 11 */
  77.2439949431%, 77.6644024442% {
    content: "Software En"; }
  /* string 4, char 12 */
  77.6654024442%, 78.0858099452% {
    content: "Software Eng"; }
  /* string 4, char 13 */
  78.0868099452%, 78.5072174463% {
    content: "Software Engi"; }
  /* string 4, char 14 */
  78.5082174463%, 78.9286249473% {
    content: "Software Engin"; }
  /* string 4, char 15 */
  78.9296249473%, 79.3500324484% {
    content: "Software Engine"; }
  /* string 4, char 16 */
  79.3510324484%, 79.7714399494% {
    content: "Software Enginee"; }
  /* string 4, char 17 */
  79.7724399494%, 80.1928474505% {
    content: "Software Engineer"; }
  /* string 4, char 18 */
  80.1938474505%, 80.6142549515% {
    content: "Software Engineeri"; }
  /* string 4, char 19 */
  80.6152549515%, 81.0356624526% {
    content: "Software Engineerin"; }
  /* string 4, char 20 */
  81.0366624526%, 90.1802052255% {
    content: "Software Engineering"; }
  /* string 4, char 21 */
  90.1812052255%, 90.4751904762% {
    content: "Software Engineerin"; }
  /* string 4, char 22 */
  90.4761904762%, 90.7701757269% {
    content: "Software Engineeri"; }
  /* string 4, char 23 */
  90.7711757269%, 91.0651609777% {
    content: "Software Engineer"; }
  /* string 4, char 24 */
  91.0661609777%, 91.3601462284% {
    content: "Software Enginee"; }
  /* string 4, char 25 */
  91.3611462284%, 91.6551314791% {
    content: "Software Engine"; }
  /* string 4, char 26 */
  91.6561314791%, 91.9501167299% {
    content: "Software Engin"; }
  /* string 4, char 27 */
  91.9511167299%, 92.2451019806% {
    content: "Software Engi"; }
  /* string 4, char 28 */
  92.2461019806%, 92.5400872314% {
    content: "Software Eng"; }
  /* string 4, char 29 */
  92.5410872314%, 92.8350724821% {
    content: "Software En"; }
  /* string 4, char 30 */
  92.8360724821%, 93.1300577328% {
    content: "Software E"; }
  /* string 4, char 31 */
  93.1310577328%, 93.4250429836% {
    content: "Software "; }
  /* string 4, char 32 */
  93.4260429836%, 93.7200282343% {
    content: "Software"; }
  /* string 4, char 33 */
  93.7210282343%, 94.015013485% {
    content: "Softwar"; }
  /* string 4, char 34 */
  94.016013485%, 94.3099987358% {
    content: "Softwa"; }
  /* string 4, char 35 */
  94.3109987358%, 94.6049839865% {
    content: "Softw"; }
  /* string 4, char 36 */
  94.6059839865%, 94.8999692373% {
    content: "Soft"; }
  /* string 4, char 37 */
  94.9009692373%, 95.194954488% {
    content: "Sof"; }
  /* string 4, char 38 */
  95.195954488%, 95.4899397387% {
    content: "So"; }
  /* string 4, char 39 */
  95.4909397387%, 95.7849249895% {
    content: "S"; }
  /* string 4, char 40 */
  95.7859249895%, 100% {
    content: "​"; } }
@keyframes beam-blink {
  75% {
    border-color: transparent; } }
* {
  backface-visibility: hidden; }

html, body {
  height: 100%; }

#keywords {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(max(20px, 8vw), 54px);
  font-family: 'VT323', monospace, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #keywords::after {
    content: "​";
    position: relative;
    top: -13px;
    display: inline-block;
    padding-right: 4px;
    border-right: min(max(8px, 3vw), 26px) solid rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    animation: typed 23.73s linear 1s infinite, beam-blink 1s infinite; }
    @media (max-width: 575px) {
      #keywords::after {
        top: -33px; } }
