@charset "UTF-8";
@keyframes typed {
  /* string 1, char 1 */
  0%, 0.4328394794% {
    content: "C"; }
  /* string 1, char 2 */
  0.4338394794%, 0.8666789588% {
    content: "Ch"; }
  /* string 1, char 3 */
  0.8676789588%, 1.3005184382% {
    content: "Che"; }
  /* string 1, char 4 */
  1.3015184382%, 1.7343579176% {
    content: "Chem"; }
  /* string 1, char 5 */
  1.7353579176%, 2.168197397% {
    content: "Chemo"; }
  /* string 1, char 6 */
  2.169197397%, 2.6020368764% {
    content: "Chemoi"; }
  /* string 1, char 7 */
  2.6030368764%, 3.0358763557% {
    content: "Chemoin"; }
  /* string 1, char 8 */
  3.0368763557%, 3.4697158351% {
    content: "Chemoinf"; }
  /* string 1, char 9 */
  3.4707158351%, 3.9035553145% {
    content: "Chemoinfo"; }
  /* string 1, char 10 */
  3.9045553145%, 4.3373947939% {
    content: "Chemoinfor"; }
  /* string 1, char 11 */
  4.3383947939%, 4.7712342733% {
    content: "Chemoinform"; }
  /* string 1, char 12 */
  4.7722342733%, 5.2050737527% {
    content: "Chemoinforma"; }
  /* string 1, char 13 */
  5.2060737527%, 5.6389132321% {
    content: "Chemoinformat"; }
  /* string 1, char 14 */
  5.6399132321%, 6.0727527115% {
    content: "Chemoinformati"; }
  /* string 1, char 15 */
  6.0737527115%, 6.5065921909% {
    content: "Chemoinformatic"; }
  /* string 1, char 16 */
  6.5075921909%, 15.9209088937% {
    content: "Chemoinformatics"; }
  /* string 1, char 17 */
  15.9219088937%, 16.2245965293% {
    content: "Chemoinformatic"; }
  /* string 1, char 18 */
  16.2255965293%, 16.5282841649% {
    content: "Chemoinformati"; }
  /* string 1, char 19 */
  16.5292841649%, 16.8319718004% {
    content: "Chemoinformat"; }
  /* string 1, char 20 */
  16.8329718004%, 17.135659436% {
    content: "Chemoinforma"; }
  /* string 1, char 21 */
  17.136659436%, 17.4393470716% {
    content: "Chemoinform"; }
  /* string 1, char 22 */
  17.4403470716%, 17.7430347072% {
    content: "Chemoinfor"; }
  /* string 1, char 23 */
  17.7440347072%, 18.0467223427% {
    content: "Chemoinfo"; }
  /* string 1, char 24 */
  18.0477223427%, 18.3504099783% {
    content: "Chemoinf"; }
  /* string 1, char 25 */
  18.3514099783%, 18.6540976139% {
    content: "Chemoin"; }
  /* string 1, char 26 */
  18.6550976139%, 18.9577852495% {
    content: "Chemoi"; }
  /* string 1, char 27 */
  18.9587852495%, 19.261472885% {
    content: "Chemo"; }
  /* string 1, char 28 */
  19.262472885%, 19.5651605206% {
    content: "Chem"; }
  /* string 1, char 29 */
  19.5661605206%, 19.8688481562% {
    content: "Che"; }
  /* string 1, char 30 */
  19.8698481562%, 20.1725357918% {
    content: "Ch"; }
  /* string 1, char 31 */
  20.1735357918%, 20.4762234273% {
    content: "C"; }
  /* string 1, char 32 */
  20.4772234273%, 24.8146182213% {
    content: "​"; }
  /* string 2, char 1 */
  24.8156182213%, 25.2484577007% {
    content: "M"; }
  /* string 2, char 2 */
  25.2494577007%, 25.68229718% {
    content: "Mo"; }
  /* string 2, char 3 */
  25.68329718%, 26.1161366594% {
    content: "Mol"; }
  /* string 2, char 4 */
  26.1171366594%, 26.5499761388% {
    content: "Mole"; }
  /* string 2, char 5 */
  26.5509761388%, 26.9838156182% {
    content: "Molec"; }
  /* string 2, char 6 */
  26.9848156182%, 27.4176550976% {
    content: "Molecu"; }
  /* string 2, char 7 */
  27.4186550976%, 27.851494577% {
    content: "Molecul"; }
  /* string 2, char 8 */
  27.852494577%, 28.2853340564% {
    content: "Molecula"; }
  /* string 2, char 9 */
  28.2863340564%, 28.7191735358% {
    content: "Molecular"; }
  /* string 2, char 10 */
  28.7201735358%, 29.1530130152% {
    content: "Molecular "; }
  /* string 2, char 11 */
  29.1540130152%, 29.5868524946% {
    content: "Molecular M"; }
  /* string 2, char 12 */
  29.5878524946%, 30.020691974% {
    content: "Molecular Mo"; }
  /* string 2, char 13 */
  30.021691974%, 30.4545314534% {
    content: "Molecular Mod"; }
  /* string 2, char 14 */
  30.4555314534%, 30.8883709328% {
    content: "Molecular Mode"; }
  /* string 2, char 15 */
  30.8893709328%, 31.3222104121% {
    content: "Molecular Model"; }
  /* string 2, char 16 */
  31.3232104121%, 31.7560498915% {
    content: "Molecular Modeli"; }
  /* string 2, char 17 */
  31.7570498915%, 32.1898893709% {
    content: "Molecular Modelin"; }
  /* string 2, char 18 */
  32.1908893709%, 41.6042060738% {
    content: "Molecular Modeling"; }
  /* string 2, char 19 */
  41.6052060738%, 41.9078937093% {
    content: "Molecular Modelin"; }
  /* string 2, char 20 */
  41.9088937093%, 42.2115813449% {
    content: "Molecular Modeli"; }
  /* string 2, char 21 */
  42.2125813449%, 42.5152689805% {
    content: "Molecular Model"; }
  /* string 2, char 22 */
  42.5162689805%, 42.8189566161% {
    content: "Molecular Mode"; }
  /* string 2, char 23 */
  42.8199566161%, 43.1226442516% {
    content: "Molecular Mod"; }
  /* string 2, char 24 */
  43.1236442516%, 43.4263318872% {
    content: "Molecular Mo"; }
  /* string 2, char 25 */
  43.4273318872%, 43.7300195228% {
    content: "Molecular M"; }
  /* string 2, char 26 */
  43.7310195228%, 44.0337071584% {
    content: "Molecular "; }
  /* string 2, char 27 */
  44.0347071584%, 44.3373947939% {
    content: "Molecular"; }
  /* string 2, char 28 */
  44.3383947939%, 44.6410824295% {
    content: "Molecula"; }
  /* string 2, char 29 */
  44.6420824295%, 44.9447700651% {
    content: "Molecul"; }
  /* string 2, char 30 */
  44.9457700651%, 45.2484577007% {
    content: "Molecu"; }
  /* string 2, char 31 */
  45.2494577007%, 45.5521453362% {
    content: "Molec"; }
  /* string 2, char 32 */
  45.5531453362%, 45.8558329718% {
    content: "Mole"; }
  /* string 2, char 33 */
  45.8568329718%, 46.1595206074% {
    content: "Mol"; }
  /* string 2, char 34 */
  46.1605206074%, 46.463208243% {
    content: "Mo"; }
  /* string 2, char 35 */
  46.464208243%, 46.7668958785% {
    content: "M"; }
  /* string 2, char 36 */
  46.7678958785%, 51.1052906725% {
    content: "​"; }
  /* string 3, char 1 */
  51.1062906725%, 51.5391301518% {
    content: "M"; }
  /* string 3, char 2 */
  51.5401301518%, 51.9729696312% {
    content: "Ma"; }
  /* string 3, char 3 */
  51.9739696312%, 52.4068091106% {
    content: "Mac"; }
  /* string 3, char 4 */
  52.4078091106%, 52.84064859% {
    content: "Mach"; }
  /* string 3, char 5 */
  52.84164859%, 53.2744880694% {
    content: "Machi"; }
  /* string 3, char 6 */
  53.2754880694%, 53.7083275488% {
    content: "Machin"; }
  /* string 3, char 7 */
  53.7093275488%, 54.1421670282% {
    content: "Machine"; }
  /* string 3, char 8 */
  54.1431670282%, 54.5760065076% {
    content: "Machine "; }
  /* string 3, char 9 */
  54.5770065076%, 55.009845987% {
    content: "Machine L"; }
  /* string 3, char 10 */
  55.010845987%, 55.4436854664% {
    content: "Machine Le"; }
  /* string 3, char 11 */
  55.4446854664%, 55.8775249458% {
    content: "Machine Lea"; }
  /* string 3, char 12 */
  55.8785249458%, 56.3113644252% {
    content: "Machine Lear"; }
  /* string 3, char 13 */
  56.3123644252%, 56.7452039046% {
    content: "Machine Learn"; }
  /* string 3, char 14 */
  56.7462039046%, 57.1790433839% {
    content: "Machine Learni"; }
  /* string 3, char 15 */
  57.1800433839%, 57.6128828633% {
    content: "Machine Learnin"; }
  /* string 3, char 16 */
  57.6138828633%, 67.0271995662% {
    content: "Machine Learning"; }
  /* string 3, char 17 */
  67.0281995662%, 67.3308872017% {
    content: "Machine Learnin"; }
  /* string 3, char 18 */
  67.3318872017%, 67.6345748373% {
    content: "Machine Learni"; }
  /* string 3, char 19 */
  67.6355748373%, 67.9382624729% {
    content: "Machine Learn"; }
  /* string 3, char 20 */
  67.9392624729%, 68.2419501085% {
    content: "Machine Lear"; }
  /* string 3, char 21 */
  68.2429501085%, 68.545637744% {
    content: "Machine Lea"; }
  /* string 3, char 22 */
  68.546637744%, 68.8493253796% {
    content: "Machine Le"; }
  /* string 3, char 23 */
  68.8503253796%, 69.1530130152% {
    content: "Machine L"; }
  /* string 3, char 24 */
  69.1540130152%, 69.4567006508% {
    content: "Machine "; }
  /* string 3, char 25 */
  69.4577006508%, 69.7603882863% {
    content: "Machine"; }
  /* string 3, char 26 */
  69.7613882863%, 70.0640759219% {
    content: "Machin"; }
  /* string 3, char 27 */
  70.0650759219%, 70.3677635575% {
    content: "Machi"; }
  /* string 3, char 28 */
  70.3687635575%, 70.6714511931% {
    content: "Mach"; }
  /* string 3, char 29 */
  70.6724511931%, 70.9751388286% {
    content: "Mac"; }
  /* string 3, char 30 */
  70.9761388286%, 71.2788264642% {
    content: "Ma"; }
  /* string 3, char 31 */
  71.2798264642%, 71.5825140998% {
    content: "M"; }
  /* string 3, char 32 */
  71.5835140998%, 75.9209088937% {
    content: "​"; }
  /* string 4, char 1 */
  75.9219088937%, 76.3547483731% {
    content: "C"; }
  /* string 4, char 2 */
  76.3557483731%, 76.7885878525% {
    content: "Ch"; }
  /* string 4, char 3 */
  76.7895878525%, 77.2224273319% {
    content: "Che"; }
  /* string 4, char 4 */
  77.2234273319%, 77.6562668113% {
    content: "Chem"; }
  /* string 4, char 5 */
  77.6572668113%, 78.0901062907% {
    content: "Chemi"; }
  /* string 4, char 6 */
  78.0911062907%, 78.5239457701% {
    content: "Chemic"; }
  /* string 4, char 7 */
  78.5249457701%, 78.9577852495% {
    content: "Chemica"; }
  /* string 4, char 8 */
  78.9587852495%, 79.3916247289% {
    content: "Chemical"; }
  /* string 4, char 9 */
  79.3926247289%, 79.8254642082% {
    content: "Chemical "; }
  /* string 4, char 10 */
  79.8264642082%, 80.2593036876% {
    content: "Chemical s"; }
  /* string 4, char 11 */
  80.2603036876%, 80.693143167% {
    content: "Chemical se"; }
  /* string 4, char 12 */
  80.694143167%, 81.1269826464% {
    content: "Chemical sen"; }
  /* string 4, char 13 */
  81.1279826464%, 81.5608221258% {
    content: "Chemical sens"; }
  /* string 4, char 14 */
  81.5618221258%, 81.9946616052% {
    content: "Chemical sense"; }
  /* string 4, char 15 */
  81.9956616052%, 91.408978308% {
    content: "Chemical senses"; }
  /* string 4, char 16 */
  91.409978308%, 91.7126659436% {
    content: "Chemical sense"; }
  /* string 4, char 17 */
  91.7136659436%, 92.0163535792% {
    content: "Chemical sens"; }
  /* string 4, char 18 */
  92.0173535792%, 92.3200412148% {
    content: "Chemical sen"; }
  /* string 4, char 19 */
  92.3210412148%, 92.6237288503% {
    content: "Chemical se"; }
  /* string 4, char 20 */
  92.6247288503%, 92.9274164859% {
    content: "Chemical s"; }
  /* string 4, char 21 */
  92.9284164859%, 93.2311041215% {
    content: "Chemical "; }
  /* string 4, char 22 */
  93.2321041215%, 93.534791757% {
    content: "Chemical"; }
  /* string 4, char 23 */
  93.535791757%, 93.8384793926% {
    content: "Chemica"; }
  /* string 4, char 24 */
  93.8394793926%, 94.1421670282% {
    content: "Chemic"; }
  /* string 4, char 25 */
  94.1431670282%, 94.4458546638% {
    content: "Chemi"; }
  /* string 4, char 26 */
  94.4468546638%, 94.7495422993% {
    content: "Chem"; }
  /* string 4, char 27 */
  94.7505422993%, 95.0532299349% {
    content: "Che"; }
  /* string 4, char 28 */
  95.0542299349%, 95.3569175705% {
    content: "Ch"; }
  /* string 4, char 29 */
  95.3579175705%, 95.6606052061% {
    content: "C"; }
  /* string 4, char 30 */
  95.6616052061%, 100% {
    content: "​"; } }
@keyframes beam-blink {
  75% {
    border-color: transparent; } }
* {
  backface-visibility: hidden; }

html, body {
  height: 100%; }

#keywords {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: min(max(20px, 8vw), 54px);
  font-family: 'VT323', monospace, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  #keywords::after {
    content: "​";
    position: relative;
    top: -13px;
    display: inline-block;
    padding-right: 4px;
    border-right: min(max(8px, 3vw), 26px) solid rgba(255, 255, 255, 0.75);
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.75);
    white-space: nowrap;
    animation: typed 23.05s linear 1s infinite, beam-blink 1s infinite; }
    @media (max-width: 575px) {
      #keywords::after {
        top: -33px; } }
