/*
General
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
  height: 100%;
  box-sizing: border-box;
}
body {
	background: black;
  height: 100%;
	margin: 0;
	position: relative;
	padding-bottom: 6rem;
  font-family: Roboto;
}
p {
  overflow-wrap:break-word;
  white-space: normal;
}
#topbar {
  font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
/*
Blinking cursor and typing text in navbar
*/
#cursor {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background: #007bff;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-left: .5em solid;

  -webkit-animation: typing 10s steps(16) infinite,
      blinking 1s step-end infinite;
  animation: typing 10s steps(16) infinite,
      blinking 1s step-end infinite;
}
#cursor-container {
  position: relative;
}
#brand {
  font-family: monospace;
}
@-webkit-keyframes typing {
  0% { width: 100% }
  20% { width: 100% }
  60% { width: 0 }
  100% { width: 0 }
}
@keyframes typing {
  0% { width: 100% }
  20% { width: 100% }
  50% { width: 0 }
  100% { width: 0 }
}
@-webkit-keyframes blinking {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}
@keyframes blinking {
  from, to { border-color: transparent; }
  50% { border-color: #fff; }
}
/*
Particle.js
*/
* { z-index: 2; }
.particle, .particle > canvas { z-index: 1 !important; }
#particles-js {
	position: absolute;
  bottom: 1;
  width: 100%;
  height: 99%;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}
/*
Main
*/
#home-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: calc(100% - 57px);
  padding: 0;
  margin: 0;
}
.whitespace-pre-line {
  white-space: pre-line;
}
.highlighter-rouge a {
  color: #bf616a;
  background-color: #f9f9f9;
  border-radius: 3px;
  text-decoration: none;
}
.tags a {
  margin-left: 10px;
}
.tags {
  padding-right: 10px;
}
#search-results-container {
  position: absolute;
  top: 1;
  background-color: rgba(240,240,240,0.98);;
  border-radius: 5px;
  z-index: 10;
}
/*
Bootstrap
*/
.card-body p {
  padding-left: 1rem;
}
