---
layout: default
---
<div class="container py-3">
  <div class="card">
    <div class="card-header">
      {% include share.html %}
      <h1>{{ page.title }}</h1>
      <hr>
      <span class="float-left tags highlighter-rouge">[
      {% for tag in page.tags %}
        <a href="/tags/{{ tag }}"><code><nobr>#{{ tag }}</nobr></code></a>
      {% endfor %}
      </span>]
      <p class="float-right">{{ page.date | date_to_long_string }} - {{ page.author }}</p>
    </div>

    {% if page.img %}
    <div class="card-body pb-0">
      <img class="card-img-top" src="{{ page.img }}" alt="Card image cap">
    </div>
    {% endif %}

    <div class="card-body">
      <p>{{ content }}</p>
    </div>
    {% include comments.html %}
  </div>
</div>
