---
layout: default
---
<div class="container py-3">
  <div class="card">
    <h2 class="py-3 card-footer text-muted"><code>#{{ page.tag }}</code></h2>
    <ul>
    {% for post in page.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string }} | Tags: {{ post | tags }})</li>
    {% endfor %}
    </ul>
  </div>

  <div class="card" id="tag-cloud" style="margin-top: 15px">
    <h2 class="py-3 card-footer text-muted">Tags</h2>
    <p class="highlighter-rouge px-3">
    {% for tag in site.tags %}
    <a href="/tags/{{ tag[0] }}/" style="font-size: {{ tag[1] | size | times: 2 | plus: 10 }}px">
      <code>{{ tag[0] }} |</code>
    </a>
    {% endfor %}
    </p>
  </div>
</div>
